In [1]:
## SETUP 
imports = ['wrds', 'pandas as pd', 'os','math', 'glob',
           're', 'pickle', 'numpy as np',
           'from name_matching.name_matcher import NameMatcher',
          'from joblib import Parallel, delayed',
          'from IPython.display import display, HTML, clear_output',
          'unicodedata', 'sys', 'numpy as np', 'glob']
for command in imports:
    if command.startswith('from'): exec(command)
    else: exec('import ' + command)

if not os.getcwd().endswith('Big Data'):
    os.chdir('../..')

sys.path.append('trade_data_code/2_python')
import A_helper_functions as hf

In [2]:
yr_lvl_dta_uni = pd.read_parquet('data/2_processed/linkedin/data_grads_across_france.parquet')

In [2]:
yr_lvl_dta_uni = pd.read_parquet('data/2_processed/linkedin/data_grads_across_france.parquet')
simple_uni_x_location = (pd.merge(yr_lvl_dta_uni,
          yr_lvl_dta_uni.groupby('university_location', as_index=False)['data_grads'].max())
 [['university_name', 'university_location']].drop_duplicates()
.merge(yr_lvl_dta_uni[['university_name','university_location']]
 .drop_duplicates()
 .assign(num_unis = lambda df: df.groupby('university_location')['university_location'].transform('count'))
[['university_location', 'num_unis']].drop_duplicates())
)
simple_uni_x_location.to_excel('data/2_processed/admin/uni_x_location_raw.xlsx', index=False)

In [13]:
(yr_lvl_dta_uni[['university_name','university_location']]
 .drop_duplicates()
 .assign(num_unis = lambda df: df.groupby('university_location')['university_location'].transform('count'))
[['university_location', 'num_unis']].drop_duplicates())

                     university_location  num_unis
0                        Limoges, France         3
7               Élancourt, Ile-de-France         1
8                                  Paris       107
18      Ramonville-Saint-Agne, Occitanie         1
20                             Chantepie         1
...                                  ...       ...
121920                Saint Leu la Forêt         1
122239              PARIS, Ile-de-France         1
122839                        Centro, SP         1
123868                Le Kremlin-Bicêtre         1
123986              Boulogne Billancourt         1

[862 rows x 2 columns]